.well {
	background: #d9edf7;
}

form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: auto;
	border: 2px solid #e3e3e3;
}

a.close {
  float: right;
}

#container {
	padding:  60px;
}

.footer {
	position:  absolute;
	right:  0;
	bottom:  0;
	left:  0;
	padding:  1rem;
	background: #337ab7;
	color:  white;
}  
