/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

h1 {
	color: #ffffff;
	text-shadow: 2px 2px 2px  #041015, 0 0 55px #96cde9;
}

/* Wrapper for page content to push down footer */
div.wrap {
  min-height: calc(100vh - 84px);
/*   min-height: auto; */
  /* Negative indent footer by its height */
  margin: 25px auto 10px;
  /* Pad bottom by footer height */
  padding: 0 10px 0px;
}

.well {
	background: #d9edf7;
	box-shadow: 10px;
	box-shadow: 2px 2px 4px  #041015, 0 0 25px #96cde9;
}

form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: auto;
	border: 2px solid #e3e3e3;
}

a.close {
  float: right;
}

a {
  color: #ffffff;
}

#container {
	padding:  60px;
}

.footer {
	position: relative;
	right:  0;
	bottom:  0;
	left:  0;
	padding:  .9rem;
	margin-top: 0px;
	text-align: center;
	background: #337ab7;
	color:  white;
} 

.push {
	height: .5em;
}

/*Establishes the parameters for sticky footer*/
.footer, .push {
	font-size: 1em;
	clear: both;
	text-align: center;
}

.container .col-sm-8 .col-md-8 .text-center {
	padding-top:  1px;
}

.col-sm-8 {
		width:  24.667%;
		float: left;
	}


/* ================================= 
  Buttons
==================================== */

button:hover {
	color: #093a58;
}

.btn-primary {
	box-shadow: 2px 2px 2px  #041015, 0 0 25px #96cde9;
	text-shadow: 2px 2px 2px  #041015, 10px 10px 50px #96cde9;
	margin-bottom: 25px;
}

input.form-control,input.form-control:focus {
    border-color: #000000;
    border:5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
   -webkit-box-shadow: 30px;
   -moz-box-shadow: 5px;
   -moz-transition: none;
   -webkit-transition: none;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 792px) {

	.wrap {
		min-height: calc(100vh - 54px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}
	.col-sm-2 {
		width:  70.667%;
		float: center;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1025px) {
	
	.container {
		width: 73%;
		max-width: 1150px;
	}

}

